# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.temp/
.cache/

# Arduino / PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.pio/libdeps/
*.elf
*.bin
*.hex

# VSCode
.vscode/

# Logs
*.log

# Sistemas
.DS_Store
Thumbs.db

# Ambiente
.env
.env.*
